.head_title {
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.head_title>h1 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}

.head_title>h6 {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  opacity: 0.8;
}

.page_title {
  position: relative;
  border-bottom: var(--border);
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.page_title_inner>h5 {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 700;
  opacity: 0.85;
}

.page_title_inner a>span {
  color: var(--heading-color);
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.page_title_inner a>button>span>svg {
  fill: var(--heading-color);
  opacity: 0.7;
}

.page_title_inner {
  display: flex;
  justify-content: space-between;
}

.link_up {
  position: relative;
  font-size: 12px;
}

.login_board {
  display: grid;
  height: 100vh;
  place-items: center;
}

.formContainer {
  position: relative;

  width: 100%;
  height: 900px;
}

.login_container {
  margin: auto;
  width: 100%;
  max-width: 600px;
  min-width: 650px;
}

.company_info {
  width: 70%;
  bottom: 15px;
  border-radius: 10px;
  left: 15%;
  position: absolute;
  background-color: rgb(246, 246, 246);
  padding: 12px;
  text-align: center;
  display: grid;
}

.login_contact p {
  color: var(--heading-color);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login_info_support {
  display: flex;
  justify-content: space-evenly;
}

.login_info_support>p>svg {
  width: 0.8em;
  height: 0.8em;
  opacity: 0.9;
  fill: var(--heading-color);
  position: relative;
  top: 5px;
  margin-right: 6px;
}

.login_info_support>p {
  color: var(--theme-color);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.main_account {
  display: flex;
}

.brand_logo {
  position: relative;
  z-index: 99;
  background: var(--white);
  padding: 10px 20px;
  text-align: center;
}

.brand_name_text {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top_strip_left {
  text-align: center;
}

.btnFacebook {
  background: #ffffff;
  padding: 8px 5px;
  border: 1px solid #dadce0;
  color: black;
  /* width: 70%; */
  border-radius: 4px;
  margin-left: 3rem;
  top: -10px !important;
}

.btnFacebook i {
  background: #1877f2;
  border-radius: 50%;
  padding: 9px 2px;
  color: white;
  width: 25px;
  height: 25px;
}

@media(max-width: 720px) {
  .btnFacebook {
    /* width: 60%;  */
    padding: 8px;
  }
}

@media screen and (max-width: 765px) {
  .left_side_card {
    display: none;
  }

  .login_container {
    width: 95%;
    min-width: 300px;
  }

  .company_info {
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (min-width: 770px) and (max-width: 1200px) {
  .head_title {
    top: 50%;
    left: 0;
  }

  .login_container {
    min-width: 400px;
    max-width: 460px;
    margin: auto;
    width: 100%;
  }
}

.second_title_box {
  position: relative;
}

.signup__area {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.page__title h2 {
  color: #696f79;
  font-weight: 600;
  font-size: 40px;
}

.login_mode {
  margin: 12px 0;
}

.google_mode {
  padding: 10px 100px !important;
  box-shadow: var(--bs-sm) !important;
  border-radius: 5px !important;
  margin: 0 10px !important;
  background: #efefef !important;
}

.google_mode img {
  width: 32px;
}

.divider {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

.divider span {
  width: 100%;
  height: 1.5px;
  background: #1b2838;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 14px;
  opacity: 0.8;
}

.divider b {
  background: #fef6e8;
  position: relative;
  padding: 10px;
}

.sign__input_wrapper {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.sign__input_wrapper h5 {
  font-size: 18px;
  opacity: 0.9;
  font-weight: 600;
  color: #021937;
  margin-bottom: 5px;
}

.sign__input input {
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
}

.sign__action {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.m_check_label {
  cursor: pointer;
  padding-left: 10px;
  font-size: 16px;
  margin-top: 4px;
}

.sign__forgot p:hover {
  color: #1c7df8;
}

.sign__forgot p {
  color: #7a797f;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  margin: 0 !important;
}

.w_btn {
  font-size: 18px !important;
  color: #ffffff !important;
  background: #6b705a !important;
  height: 48px !important;
  line-height: 40px !important;
  border: 2px solid #6b705a !important;
  text-align: center !important;
  padding: 0 20px !important;
  display: inline-block !important;
  font-weight: 400 !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
}

.sign__new {
  margin-top: 20px;
  text-align: center;
}

.sign__new p {
  color: #7a797f;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.sign__new p>p {
  color: #1c7df8;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.img_section img {
  width: 100%;
  height: 110vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.brand_name {
  position: absolute;
  bottom: 4%;
  left: 10%;
}

.longin_container {
  margin-top: 50px;
  padding: 30px 50px;
  border-radius: 10px;
  background: rgba(250, 166, 26, 0.1);
  z-index: 11;
  border: 1px solid #efe4d2;
}

.sign__input>div {
  width: 100%;
  height: 52px;
  line-height: 52px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
  font-size: 16px;
  overflow: hidden;
}

.sign__input textarea {
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8692a6;
  background: #fff;
  color: #222222;
  border-radius: 6px;
  font-size: 16px;
  overflow: hidden;
}

.wraper {
  width: 100%;
}

.fleft {
  float: left;
  width: 45%;
  height: 60vh;
  background-image: url("../../../public/musicalBg3.jpg");
  background-repeat: "no-repeat";
}

.fleft Image {
  width: 100%;

}

.fright {
  float: right;
  background: white;
  border: 2px solid red;
  width: 55%;
  display: block;
  justify-content: center !important;
  align-items: center !important;
}

.frightInner {
  position: absolute;
  width: 50%;
  height: 195px;
  background: linear-gradient(125.25deg, #50E0A9 6.14%, #26B9E9 108.72%);
  justify-content: center;
  align-items: center;

}

.frightInner>.imageContainer {
  position: absolute;
  width: 183px;
  height: 126.84px;
  justify-content: center;
  align-items: center;
  left: 35%;
  top: 18%;
}

.btn {
  background: linear-gradient(125.25deg, #50E0A9 6.14%, #26B9E9 108.72%);
  border-radius: 10px;
  font-size: 20px;
  font-style: normal;
  font-family: sans-serif;
  border: none;
  width: 40%;
  padding: 10px;
  align-items: center;
}

.formControl {

  margin: auto;
  align-items: center !important;
  left: 10%;
  padding: 80px 100px;
}

.header-text-wrapper {
  position: relative;
  top: 20% !important;
  margin-top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading_title {
  width: 382px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 28px;
  align-items: center;
  color: #212427;
}

.para_style {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  align-items: center;
  color: #000000 !important;
}

.check_box_para {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 119.4%;

  display: flex;
  align-items: center;
}

.headingTag {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 2px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.headingTag2 {
  font-family: "Nunito Sans";
  font-style: normal;

  font-size: 30px !important;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.header_text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.content_box {
  position: absolute;
  margin-top: 20%;
  left: 3%;
  transform: translateY(-50%);
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  line-height: 50px;
  margin-bottom: 15px;
}

.or:after,
.or:before {
  content: "";
  display: block;
  background: #e5e5e5;
  width: 48%;
  height: 1px;
  margin: 0 10px;
}

.label_font span {
  font-size: 17px;
  color: #000;
  font-weight: 500;
  font-family: "Nunito Sans";
}

.form_control_lg {
  min-height: calc(1em + 0.5rem + 2px);
  padding: 0.3rem 1rem;
  outline: 0;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border-width: 0 0 2px;
}

.form_control_lg input {
  position: relative;
  padding: 10px;

  border-radius: 5px 5px 0 0;
}

.form_control_lg1 {
  min-height: calc(1em + 0.5rem + 2px);
  padding: 0.3rem 1rem;
  outline: 0;
  display: block;
  width: 85%;
  margin-left: 32px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border-width: 0 0 2px;
}

.form_control_lg3 {
  min-height: calc(1em + 0.5rem + 2px);
  padding: 0.3rem 1rem;
  outline: 0;

  display: block;
  width: 15%;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85;
  color: #212529;
  background-clip: padding-box;
  border: none;
}

.sign__in {
  margin-top: 5px !important;
  padding: 0px 20px;
}

.sign__in p {
  color: #7a797f;
  margin-bottom: 10;
  display: flex;
}

.sign__in p>p {
  color: #080808;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.signup_btn {
  font-size: 16px !important;
  color: #ffffff !important;
  background: #faa61a !important;
  height: 40px !important;
  line-height: 40px !important;

  text-align: center !important;
  padding: 0 10px !important;
  display: inline-block !important;

  border-radius: 35px !important;
  text-transform: capitalize !important;
  position: relative !important;
  z-index: 1 !important;
  overflow: hidden !important;
  width: 35% !important;
}
.rightContainer{
  /* background-image: url("../../../public/musicalBg3.jpg"); */
}
.right_content_container {
  margin: auto;
  width: 50%;
  position: absolute;
  display: block;
  top: 30%;
  height: 442px;
  align-items: center;
  /* background-image: url("../../../public/musicalBg3.jpg"); */
  background: linear-gradient(125.25deg, #50E0A9 6.14%, #26B9E9 108.72%);
  ;
  /* border: 2px solid rgb(194, 22, 36); */
}





.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.createAcc {
  border-radius: 20px !important;
  padding: 10px 40px !important;
  font-family: Nunito Sans, sans-serif;
}

.createAcc:hover {
  background-color: darkorange !important;
}

@media (min-width: 320px) and (max-width: 375px) {
  .wraper {
    width: 100%;
  }

  .boxContainer {
    display: block;
  }

  .fleft {
    width: 100%;
    height: 60vh;
  }

  .header_text img {
    margin-left: 15% !important;
  }

  .content_box {
    position: absolute;
    margin-top: 55%;
    left: 7%;
    transform: translateY(-50%);
  }

  .headingTag {
    font-size: 30px;
  }

  .headingTag2 {
    font-size: 20px !important;
  }

  .fright {
    width: 100%;
    border: 2px solid red;
    justify-content: center !important;
  }

  .heading_title {
    font-size: 20px;
  }

  .right_content_container {

    width: 80%;
  }

  .heading_title {
    width: 100%;
    padding-left: 10%;
  }

  .sign__in {
    margin-top: 15px !important;
  }

  .para_style {
    font-size: 14px;
    padding-left: 18px;
  }

  .form_control_lg input {
    padding: 5px;
    font-size: 15px;
  }

  .label_font {
    font-size: 16px !important;
  }

  .label_fontSize {
    font-size: 14px;
    align-items: left;
    text-align: left;
  }

  .formOutline {
    box-sizing: inherit;
    display: block;
    padding: 0;
  }

  .form_control_lg3 {
    font-size: 14px;
    width: 35%;
    font-weight: 400;
    line-height: 0.5;
    margin-right: 15px;
  }

  .row {
    width: 70%;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .btnFacebook {
    width: 75% !important;
    font-size: 12px;
    padding: 6px !important;
    margin-left: 40px;
  }

  .btnGoogle i {
    padding: 9px 0px;
  }
}

@media only screen and (max-width: 425px) {
  /* .btnFacebook {
    width: 65%;
    margin-left: 45px;
    padding: 5px;
  } */
}

@media only screen and (max-width: 458px) {
  .wraper {
    width: 100%;
  }

  .fleft {
    width: 100%;
    height: 60vh;
  }

  .header_text Image {
    margin-left: 15% !important;
  }

  .content_box {
    position: absolute;
    margin-top: 50%;
    left: 7%;
    transform: translateY(-50%);
  }

  .right_content_container {

    width: 80%;
  }

  .fright {
    width: 100%;
    /* border: 2px solid red; */
    justify-content: center !important;
  }

  .heading_title {
    width: 100%;
    padding-left: 14%;
  }

  .sign__in {
    margin-top: 15px !important;
  }

  .para_style {
    font-size: 16px;
    padding-left: 14%;
  }

  /* .btnFacebook {
    width: 70%;
    /* margin-left: 45px; 
    padding: 5px;
  } */
}

@media (min-width: 459px) and (max-width: 496px) {
  .wraper {
    width: 100%;
  }

  .fleft {
    width: 100%;
    height: 60vh;
  }

  .header_text img {
    margin-left: 15% !important;
  }

  .content_box {
    position: absolute;
    margin-top: 50%;
    left: 7%;
    transform: translateY(-50%);
  }

  .right_content_container {

    width: 80%;
  }

  .fright {
    width: 100%;
    /* border: 2px solid red; */
    justify-content: center !important;
  }

  .btnFacebook {
    width: 55%;
    margin-left: 12%;
  }

  .heading_title {
    width: 100%;
    padding-left: 12%;
    font-size: 32px;
  }

  .sign__in {
    margin-top: 15px !important;
  }

  .para_style {
    font-size: 18px;
    padding-left: 14%;
  }

  .label_fontSize {
    font-size: 16px;
    margin-top: 5px;
    display: inline;
  }
}

@media (min-width: 497px) and (max-width: 686px) {
  .wraper {
    width: 100%;
  }

  .fleft {
    float: left;
    height: 60vh;
  }

  .fleft Image {
    width: 100%;
  }

  .fright {
    float: right;
  }
}

@media (min-width: 687px) and (max-width: 767px) {
  .btnFacebook {
    width: 60%;
    margin-left: 12%;
  }

  .fleft {
    height: 150vh !important;
  }

  .content_box {
    margin-top: 35%;
    left: 3%;
  }

  .heading_title {
    font-size: 30px;
  }

  .sign__in {
    margin-top: 15px !important;
  }

  .para_style {
    font-size: 18px;
    padding-left: 14%;
  }

  .right_content_container {

    width: 70%;
  }

  .btnFacebook {
    width: 75% !important;
    padding: 6px !important;
    margin-left: 40px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fleft {
    width: 50%;
    height: 120vh;
  }

  .content_box {
    margin-top: 30%;
    left: 5%;
  }

  .heading_title {
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-align: center;
  }

  .sign__in {
    margin-top: -10px !important;
  }

  .para_style {
    font-size: 18px;
    padding-left: 14%;
  }

  .right_content_container {

    width: 70%;
  }

  .header_text img {
    margin-left: 18%;
  }

  .headingTag {
    font-size: 40px !important;
  }

  .headingTag2 {
    font-size: 26px !important;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {
  .wraper {
    width: 100%;
  }

  .fleft {
    height: 100vh;
  }

  .fleft Image {
    width: 100%;
  }

  .fright {
    float: right;
  }

  .heading_title {
    font-size: 45px;
  }
}