.heading {
    font-family: 'Hill House';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 65px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #212427;
}
.container{
   
    margin-left: 10px;
}
